.App {
  text-align: center;
  margin-top: 20px;
}

.pokemon {
  width: 300px;
  border: 1px solid black;
  border-width: thick;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  background-color: white;
  
}

.pokemon img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.language-buttons {
  margin-bottom: 25px;
}

.language-buttons button {
  margin: 5px;
  padding: 20px 100px;
  border-radius: 10px;
  cursor: pointer;
  background-color: whitesmoke;
  color: red;
  border: none;
}

.language-buttons button:hover {
  background-color: black;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stats-column {
  margin-left: 2px;
}

.stats-column p {
  text-align: left;
}

.type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  
}

.type {
  padding: 0px;
  border-radius: 20px;
  color: white;
  
}